In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('Position_Salaries.csv')

In [5]:
df

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Position  10 non-null     object
 1   Level     10 non-null     int64
 2   Salary    10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes

In [ ]:
# for csv file we needs do data preprocessing when wants to convert string into 0/1
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['Position']=le.fit_transform(df['Position'])
df['Position']

In [ ]:
#OR

In [23]:
import warnings
warnings.filterwarnings('ignore')

In [47]:
#x=df.drop(columns='Salary')
#y=df['Salary']

#OR
x=df.iloc[:,1:2].values
y=df.iloc[:,2].values

In [48]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30)

In [49]:
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor()
rfr.fit(x_train,y_train)

RandomForestRegressor()

In [50]:
y_pred=rfr.predict(x_test)

In [51]:
import numpy as np
from sklearn import metrics

In [52]:
MeanAbErr=metrics.mean_absolute_error(y_test,y_pred)
print(MeanAbErr)

332866.6666666667

In [53]:
MeanSqErr=metrics.mean_squared_error(y_test,y_pred)
print(MeanSqErr)

201660273333.33334

In [54]:
RootMeanSqr=np.sqrt(metrics.mean_squared_error(y_test,y_pred))
print(RootMeanSqr)

449066.00108818454

In [55]:
r2_err=metrics.r2_score(y_test,y_pred)
print(r2_err)

-0.6574816986301371

In [56]:
print("Actual value",y_test,"predicted value",y_pred)

Actual value [ 150000  500000 1000000] predicted value [130800. 260300. 260300.]

In [64]:
ab=pd.DataFrame({"Actual value":y_test,"predicted value":y_pred})
print(ab)

   Actual value  predicted value
0        150000         130800.0
1        500000         260300.0
2       1000000         260300.0

In [65]:
print("random forest regressor accuracy:",rfr.score(x_test,y_test)*100)

random forest regressor accuracy: -65.7481698630137

# using multiple linear regression

In [66]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

regressor.fit(x_train,y_train)

LinearRegression()

In [67]:
y_predc=regressor.predict(x_test)