In [2]:
which method to use?


| Regression Type     | Visual Tool     | Equation Print? | Why                                   |
| ------------------- | --------------- | --------------- | ------------------------------------- |
| **Simple Linear**   | 2D Graph (line) | Optional        | Only one variable – easy to see       |
| **Multiple Linear** | No simple graph | **Yes**         | Must print coefficients to understand |

SyntaxError: invalid syntax (2132875970.py, line 4)

In [3]:
liabraries:
    -import pandas as pd
    -from sklearn.model_selection import train_test_split
    -from sklearn.linear_model import LinearRegression
    -import numpy as np
    -from sklearn import metrics
    
Topics:
    -Multiple Linear Regression
        -load csv file
        -define x and y
            - here x are multiple so its multiple linear regression
        - define x_train , x_test , y_train , y_test
        -making instance of linear regression
        - Y    =   Mn +     M0*X0 +     M1*X1    +        M2*X2
        -Sales = 2.94 + 0.0458*TV + 0.1885*Radio + (-0.0010)*Newspaper 
        -print(regressor.intercept_) # WILL GIVE VALUE OF Mn
         print(list(zip(x,regressor.coef_))) # WILL GIVE M0,M1,M2
        -define x_pred, y_pred

SyntaxError: invalid syntax (372285427.py, line 1)

# Multiple Linear Regression

In [4]:
import pandas as pd
df=pd.read_csv('Advertising.csv')
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [5]:
df

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [6]:
x=df[['TV','Radio','Newspaper']]
y=df[['Sales']]       ## Target is numeric so its regerssion

In [7]:
print(x)

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [8]:
print(y)

     Sales
0     22.1
1     10.4
2      9.3
3     18.5
4     12.9
..     ...
195    7.6
196    9.7
197   12.8
198   25.5
199   13.4

[200 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test= train_test_split(x,y,test_size=1/3,random_state=0)

In [10]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

regressor.fit(x_train,y_train)      ## fit

LinearRegression()

In [20]:
print(regressor.intercept_)
print(list(zip(regressor.coef_)))

[2.9037645]
[(array([0.0443459 , 0.19660591, 0.00262562]),)]

In [12]:
x_pred=regressor.predict(x_train)
y_pred=regressor.predict(x_test)

In [13]:
print("prediction for test set :{}".format(y_pred))

prediction for test set :[[10.05097058]
 [ 7.4499993 ]
 [ 7.03252971]
 [24.2016326 ]
 [12.07738405]
 [ 6.59463846]
 [13.1005242 ]
 [15.00928045]
 [11.03309254]
 [16.2847153 ]
 [23.03004114]
 [ 9.15867999]
 [10.3813    ]
 [15.4052521 ]
 [11.59972016]
 [12.11807438]
 [18.61494072]
 [10.7432436 ]
 [16.04872577]
 [17.23807998]
 [24.30021807]
 [ 9.52267567]
 [15.17507106]
 [12.4525143 ]
 [ 5.72567004]
 [15.19786664]
 [12.25971506]
 [20.91306214]
 [13.3500593 ]
 [ 9.18330769]
 [13.40551309]
 [21.59403254]
 [18.18162786]
 [21.15410682]
 [ 6.74539497]
 [ 6.17340376]
 [ 8.01921503]
 [13.19818262]
 [14.77945892]
 [ 6.2530578 ]
 [12.3013568 ]
 [ 9.14294205]
 [15.0344292 ]
 [16.27684044]
 [17.24700584]
 [13.29967831]
 [ 3.70063725]
 [12.4796187 ]
 [15.94075082]
 [ 8.75332029]
 [10.66764063]
 [19.62633967]
 [18.42522765]
 [15.28980862]
 [10.01254635]
 [ 8.19179718]
 [21.57005177]
 [14.19260523]
 [16.35109003]
 [ 8.86081623]
 [15.34735514]
 [12.37012562]
 [13.72695688]
 [14.18494574]
 [18.40445716]
 [19.29907579]
 [20.25742927]]

In [21]:
print({"Actual value":y_test,"predicted value":y_pred})

{'Actual value':      Sales
18    11.3
170    8.4
107    8.7
98    25.4
177   11.7
..     ...
181   12.2
19    14.6
153   19.0
92    19.4
54    20.2

[67 rows x 1 columns], 'predicted value': array([[10.05097058],
       [ 7.4499993 ],
       [ 7.03252971],
       [24.2016326 ],
       [12.07738405],
       [ 6.59463846],
       [13.1005242 ],
       [15.00928045],
       [11.03309254],
       [16.2847153 ],
       [23.03004114],
       [ 9.15867999],
       [10.3813    ],
       [15.4052521 ],
       [11.59972016],
       [12.11807438],
       [18.61494072],
       [10.7432436 ],
       [16.04872577],
       [17.23807998],
       [24.30021807],
       [ 9.52267567],
       [15.17507106],
       [12.4525143 ],
       [ 5.72567004],
       [15.19786664],
       [12.25971506],
       [20.91306214],
       [13.3500593 ],
       [ 9.18330769],
       [13.40551309],
       [21.59403254],
       [18.18162786],
       [21.15410682],
       [ 6.74539497],
       [ 6.17340376],
       [ 8.01921503],
       [13.19818262],
       [14.77945892],
       [ 6.2530578 ],
       [12.3013568 ],
       [ 9.14294205],
       [15.0344292 ],
       [16.27684044],
       [17.24700584],
       [13.29967831],
       [ 3.70063725],
       [12.4796187 ],
       [15.94075082],
       [ 8.75332029],
       [10.66764063],
       [19.62633967],
       [18.42522765],
       [15.28980862],
       [10.01254635],
       [ 8.19179718],
       [21.57005177],
       [14.19260523],
       [16.35109003],
       [ 8.86081623],
       [15.34735514],
       [12.37012562],
       [13.72695688],
       [14.18494574],
       [18.40445716],
       [19.29907579],
       [20.25742927]])}

# matrics

In [15]:
import numpy as np
from sklearn import metrics

In [22]:
MeanAbErr=metrics.mean_absolute_error(y_test,y_pred)
print(MeanAbErr)

1.1855503777750762

In [ ]:
MeanSqErr=metrics.mean_squared_error(y_test,y_pred)
print(MeanSqErr)

In [ ]:
RootMeanSqr=np.sqrt(metrics)